@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-noto {
  font-family: 'Noto Sans', sans-serif;
}

.font-dm-serif {
  font-family: 'DM Serif Text', serif;
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}